@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{

    --popup-progress-before : red;
    --border-left-color :transparent;
}

/*body{*/
/*    height: 100vh;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    background-color: #f2f2f2;*/
/*    overflow: hidden;*/
/*}*/

.popup{
    position: absolute;
    top: 25px;
    right: 30px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-left: 6px solid var(--border-left-color);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.popup.active{
    transform: translateX(0%);
}

.popup .popup-content{
    display: flex;
    align-items: center;
}

.popup .popup-content .popup-info ,
.popup .popup-content .popup-error
{
    font-size: 45px;
    display: none;
}

.popup-content .popup-message{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.popup-message .text{
    font-size: 20px;
    font-weight: 400;;
    color: #666666;
}

.popup-message .text.text-1{
    font-weight: 600;
    color: #333;
}
.popup .popup-close{
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.popup .popup-close:hover{
    opacity: 1;
}

.popup .popup-progress{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
}
.popup .popup-progress:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: var(--popup-progress-before);
}

.popup-progress.active:before{
    animation: popupProgress 5s linear forwards;

}

@keyframes popupProgress {
    100%{
        right: 100%;
    }
}

.popup.active ~ button{
    pointer-events: none;
}