
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



#saveModalTicket, #editModalTicket {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}


#saveModalTicketContent, #editModalTicketContent {
    background-color: #f2f2f2;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #f2f2f2;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
}

#saveFormTicket, #editFormTicket {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-sizing: border-box;
}


input, textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
td {
    padding: 8px;
}

tr:hover {
    background-color: #ddd;
}


.save-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
}

.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
}

.edit-button {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
}

.close-button {
    background-color: #130606;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.modal-footer {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-top: 1px solid #ddd;
}

.danger{
    color: #ff7782;

}
.success{
    color: #41f1b6;
}
.warning{
    color: #ffbb55;
}

.seen{
    color: #2196F3;
}

