<div class="popup" id="popup" th:fragment="popup">
    <div class="popup-content" id="popup-content">
            <span class="material-symbols-outlined popup-info" id="popup-info">
                check_circle
            </span>

        <span class="material-symbols-outlined popup-error" id="popup-error">
                error
            </span>

        <div class="popup-message" id="popup-message">
            <span class="text text-1 popup-title" id="popup-title"></span>
            <span class="text text-2 popup-text" id="popup-text"></span>
        </div>
    </div>
    <span class="material-symbols-outlined popup-close" id="popup-close">
            close
        </span>
    <div class="popup-progress" id="popup-progress"></div>
</div>