<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Response</title>
</head>
<body>
<h2>Response Page</h2>
<form th:action="@{/response/save}" method="post" th:object="${response}">
    <input type="text" placeholder="responder" th:value="${responder}" th:field="*{responder}">
    <br>
    <input type="text" placeholder="response" th:value="${ticketResponse}" th:field="*{ticketResponse}">
    <br>
    <input type="submit" value="Save">
</form>
<table th:if="${#lists.size(responseList) > 0}">
    <thead>
    <th>Id</th>
    <th>Response Date</th>
    <th>Response Time</th>
    <th>Responder</th>
    <th>Response</th>
    <th>Active</th>
    <th>Operation</th>
    </thead>
    <tbody>
    <tr th:each="r : ${responseList}">
        <td th:text="${r.id}"></td>
        <td th:text="${r.responseDate}"></td>
        <td th:text="${r.responseTime}"></td>
        <td th:text="${r.responder}"></td>
        <td th:text="${r.ticketResponse}"></td>
        <td th:text="${r.active}"></td>
        <td>
            <button>Edit</button>
            <form th:action="@{/response/delete}" method="post">
                <input type="text" hidden="hidden" th:value="${r.id}" name="id">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>