<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/popup.css">
    <link rel="stylesheet" href="../static/css/ticket.css">
    <title>Ticket</title>
</head>
<body>
<h2>Ticket Page</h2>

<div class="container">
    <div>
        <button type="button" class="save-button" onclick="addTicket()">Add New Ticket</button>
    </div>

    <table th:if="${#lists.size(ticketList) > 0}">
        <thead>
        <th>Id</th>
        <th>Ticket Date</th>
        <th>Ticket Time</th>
        <th>Ticket Title</th>
        <th>Request</th>
        <th>Group</th>
        <th>Status</th>
        <th>Deleted</th>
        <th>Operation</th>
        </thead>
        <tbody>
        <tr th:each="ticket : ${ticketList}">
            <td th:text="${ticket.id}"></td>
            <td th:text="${ticket.ticketTimeStamp.toLocalDate()}"></td>
            <td th:text="${ticket.ticketTimeStamp.toLocalTime()}"></td>
            <td th:text="${ticket.title}"></td>
            <td th:text="${ticket.request}"></td>
            <td th:if="${ticket.group.parent != null}"
                th:text="${ticket.group.parent.title} + ' - ' + ${ticket.group.title}"></td>
            <td th:unless="${ticket.group.parent != null}" th:text="${ticket.group.title}"></td>
            <td th:text="${ticket.status}"  id="status"></td>
            <td th:text="${ticket.deleted}"></td>
            <td>
                <button class="edit-button" th:data-name="${ticket.id}"
                        th:onclick="findId(this.getAttribute('data-name'))">Edit
                </button>
                <button class="delete-button" th:data-name="${ticket.id}"
                        th:onclick="deleted(this.getAttribute('data-name'))">Delete
                </button>
            </td>
        </tr>

        </tbody>
    </table>

    <div id="saveModalTicket">
        <div id="saveModalTicketContent">
            <form id="saveFormTicket">
                <div th:replace="~{/fragments/ticket-fragments :: ticketSaveFormContent('title','request','group') }"></div>
            </form>
            <div class="modal-footer">
            <button onclick="save()" class="save-button">Save</button>
            <button onclick="closeModal()" class="close-button">Close</button>
            </div>
        </div>
    </div>

    <div id="editModalTicket">
        <div id="editModalTicketContent">
            <form id="editFormTicket">
                <label for="id__edit__ticket" >ID :</label>
                <input type="text" id="id__edit__ticket" name="id" readonly>
                <div th:replace="~{/fragments/ticket-fragments :: ticketEditFormContent('title','request','status','ticketTimeStamp','status','state','group')}"></div>
            </form>
            <div class="modal-footer">
            <button onclick="edit()" class="edit-button">Edit</button>
            <button onclick="closeModal()" class="close-button">Close</button>
            </div>
        </div>
    </div>


</div>
<div th:replace="~{/fragments/popup-fragment}"></div>

<script type="text/javascript" src="../static/js/popup.js"></script>
<script type="text/javascript" src="../static/js/ticket.js"></script>

</body>
</html>