<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/popup.css">
    <link rel="stylesheet" href="../static/css/ticketGroup.css">
    <title>TicketGroup</title>
</head>
<body>
<h2>TicketGroup Page</h2>

<div class="container">
    <div>
        <button type="button" class="save-button" onclick="addTicketGroup()">Add New Ticket Group</button>
    </div>

    <table th:if="${#lists.size(ticketGroupParents) > 0}">
        <thead>
        <th>Id</th>
        <th>Group</th>
        <th>Sub Group</th>
        <th>Operation</th>
        </thead>
        <tbody>
        <tr th:each="ticketGroup : ${ticketGroupList}">
            <td th:text="${ticketGroup.id}"></td>
            <td th:if="${ticketGroup.parent != null}" th:text="${ticketGroup.parent.title}"></td>
            <td th:unless="${ticketGroup.parent != null}">-</td>
            <td th:text="${ticketGroup.title}"></td>
            <td>
                <button class="edit-button" th:data-name="${ticketGroup.id}"
                        th:onclick="findId(this.getAttribute('data-name'))">Edit
                </button>
                <button class="delete-button" th:data-name="${ticketGroup.id}"
                        th:onclick="deleted(this.getAttribute('data-name'))">Delete
                </button>
            </td>
        </tr>

        </tbody>
    </table>

    <div id="saveModalTicketGroup">
        <div id="saveModalTicketGroupContent">
            <form id="saveFormTicketGroup">
                <div th:replace="~{/fragments/ticketGroup-fragments :: ticketGroupSaveFormContent('parent' , 'title') }"></div>
            </form>
            <div class="modal-footer">
                <button onclick="save()" class="save-button">Save</button>
                <button onclick="closeModal()" class="close-button">Close</button>
            </div>
        </div>
    </div>

    <div id="editModalTicketGroup">
        <div id="editModalTicketGroupContent">
            <form id="editFormTicketGroup">
                <label for="id__edit__ticketGroup">id :</label>
                <input type="text" name="id" id="id__edit__ticketGroup">
                <div th:replace="~{/fragments/ticketGroup-fragments :: ticketGroupEditFormContent('parent' , 'title') }"></div>
            </form>
            <div class="modal-footer">
                <button onclick="edit()" class="edit-button">Edit</button>
                <button onclick="closeModal()" class="close-button">Close</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{/fragments/popup-fragment}"></div>

<script type="text/javascript" src="../static/js/popup.js"></script>
<script type="text/javascript" src="../static/js/ticketGroup.js"></script>
</body>
</html>